.recipeview {
  text-align: center;
  padding: 16px;
}

.recipeview-actions {
  display: flex;
  justify-content: flex-end;
  padding-right: 24px;
}

.recipeview-description,
.recipeview-ingredients,
.recipeview-instructions,
.recipeview-notes {
  text-align: left;
  margin: 16px 0px;
}

.recipeview-share {
  margin: 96px auto;
  width: 112px;
  display: flex;
  justify-content: space-between;
}
