.card {
  border: 1px solid black;
  box-sizing: border-box;
  max-width: 300px;
  min-width: 300px;
  padding: 8px;
  margin: 8px 0px;
}

.card-title {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0px;
}

.card-title:focus {
  outline: none;
}

.card-body {
  height: 100px;
  overflow: hidden;
}
