.loader-container {
  display: flex;
  justify-content: center;
  height: 90vh;
}

.loader {
  border-top: 0.2em solid #a7d1f1;
  border-right: 0.2em solid #a7d1f1;
  border-bottom: 0.2em solid #a7d1f1;
  border-left: 0.2em solid #2185d0;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
  align-self: center;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
