.loader-container {
  display: flex;
  justify-content: center;
  height: 208px;
}

.loader {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-top: 2.8px solid #a7d1f1;
  border-right: 2.8px solid #a7d1f1;
  border-bottom: 2.8px solid #a7d1f1;
  border-left: 2.8px solid #2185d0;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
  align-self: center;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
